body {
    background-color: #f2e8cf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.form {
    background-color: rgb(167, 201, 87);
    padding: 25px 35px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 300px;
    text-align: center;
}

.form h1 {
    margin-bottom: 20px;
    color: #386641;
}

.email {
    font-size: 15px;
    margin: 10px 0 5px 0;
    color: #386641;
    font-weight: bold;
    padding: 5px;
}

.name,
.senha {
    width: 85%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #386641;
    border-radius: 6px;
    font-size: 14px;
}

.button {
    width: 85%;
    background-color: #386641;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background-color: #48a1c7;
}

.link {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #386641;
    font-size: 14px;
}

.link:hover {
    text-decoration: underline;
}
